<html>
    <title>Edit User</title>
    <script src="/static/local/shortcuts.js"></script>
    <script src="/static/local/global_utils.js"></script>
    <link rel="stylesheet" href="/static/css/reset_password.css">
</html>
<body>
    <main class="main_container" id="main-container" tabindex="-1" style="outline: none;">
        <content>
            <header>
                <label>Reset User Password</label>
            </header>
            <main class="main_content">
                <div>User Information</div>
                <div class="user_information">
                    <div class="user_icon_div">
                        <img src="static/images/user.png" class="user_icon" id="user_icon" onerror="this.src='/static/images/user.png'">
                    </div>
                    <div class="user_desc_div">
                        <div><label id="username" class="username"></label><label id="user_role" class="user_role">Security Guard</label></div>
                        <div><label id="user_id" class="user_id"></label></div>
                        <div><label id="user_email" class="user_email"></label></div>
                    </div>
                </div>
                <div><label class="desc">Enter a new password below to change your password.</label></div>
                <div class="input_group">
                    <div>
                        <label class="input_header">Create New Password</label>
                        <span class="password-wrap">
                            <input class="input" id="password" type="password" oninput="inputting(this,$('password_error'))" value="">
                            <div id="showwrap"><a id="togglePassword" onclick="toggleBtn(this,$('password'))"><img src="/static/images/hidden.png" class="showhide"></a></div>
                        </span>
                        <label class="error" id="password_error">No Error.</label>
                    </div>
                    <div>
                        <label class="input_header">Confirm New Password</label>
                        <span class="password-wrap">
                            <input class="input" id="confirm_password" type="password" oninput="inputting(this,$('confirm_password_error'))" value="">
                            <div id="showwrap"><a id="toggleConfirmPassword" onclick="toggleBtn(this,$('confirm_password'))"><img src="/static/images/hidden.png" class="showhide"></a></div>
                        </span>
                        <label class="error" id="confirm_password_error">No Error.</label>
                    </div>
                </div>
            </main>
            <footer>
                <div class="confirm_div">
                    <a class="gray_button" href="/users">Cancel</a>
                    <a class="button" style="background-color: #E80A0A;" onclick="save_reset_password_changes()" href="#">Reset Password</a>
                </div>
            </footer>
        </content>
    </main>
</body>
<script src="/static/local/reset_password.js"></script>